
   /* 1.
        apply global configs
      */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* 2. 
        - apply Segoe UI font for global style 
    */
    /* , Tahoma, Geneva, Verdana, sans-serif */
html
body {
    font-family: 'Segoe UI';
    line-height: 1.5em;
}

/* a {
    color: #333;
    text-decoration: none;
}
h1,
h2,
h3 {
    padding-bottom: 20px;
}
p {
    margin: 10px;
} */
/* Apply some responsive rule */
.container {
    margin: auto;
    height: 100%;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
#bg{
  background: url("./image/1.jpg") no-repeat center center/cover;
  height: 100%;
}
#bg .bg-content{
  color: #fff;
  text-align: center;
  padding: 15rem 32px 32px 32px;
}
#bg .bg-content h1{
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 1em;
}
.btn{
  display: inline-block;
  background: #fff;
  color: blueviolet;
  padding: 0.75rem 2rem;
}


   
    /* 3.
        - apply any background images from https://www.pexels.com/ (Note:* choose a landscape type of images)
        - all text to white
        - height of the parent container should be 100% in view port height
        - apply 32 pixels of padding in all sides except top using rem unit
        - apply a space on top using padding with a value of 15rem using pixels unit.
        - all text should place to center

    */
 
    /* 4.
        - apply a font size of 3rem in all heading tags
    */
   
    /* 5. 
        - apply a margin of 1rem for top and bottom and 0 to left and right
    */
   
    /* 6. achor tag
        - button should be displayed inline block
        - remove underline
        - apply a white background
        - apply any color you want on the text
        - apply a space inside of 0.75rem for top and bottom and 2rem for left and right;
    
    */
 
    /* 7. section
    
        - apply a space in all sides of 2 rem
    
    */

    /* 8. media queries
        - inspect the browser and use the mobile inspect tool 
        - pixel 2 XL, iphone 5 SE, iphone X, ipad,ipad pro
        - all identified devices above should be configured and use
        necessary changes on their default css rule for mobile responsiveness
        - use inline styling for this one

    
    */
  #sec{
      margin: 2rem;
      color: #fff;
      text-align: center;
      padding: 15rem 32px 32px 32px;
}

#sec h3{
  font-size: 2rem;
  margin: 1rem 0;
}


/* body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    padding-top: 30px;
    font-size: 30px;
} */
@media only screen and (max-width: 320px) { 
    body{
        background:url("../image/2.jpg") no-repeat center center/cover;
        height: 100% ;
}

h3{
  display: inline;
}
}

@media (min-width: 321px) and (max-width: 376px) { 
    body{
        background:url("./image/3.jpg") no-repeat center center/cover;
        height: 100%;
}
h3{
  display: inline;
}
}

@media (min-width: 377px) and (max-width: 411px) { 
    body{
        background:url("./image/4.jpg") no-repeat center center/cover;
        height: 100%;
}
h3{
  display: inline;
}
}

@media (min-width: 412px) and (max-width: 768px) { 
    body{
        background:url("./image/5.jpg") no-repeat center center/cover;
        height: 100%;
}
h3{
  display: inline;
}
}

@media (min-width: 769px) and (max-width: 1024px) { 
    body{
        background:url("./image/6.jpg") no-repeat center center/cover;
        height: 100%;
}
h3{
  display: inline;
}
}

@media (min-width: 1025px) { 
    body{
        background:url("./image/7.jpg") no-repeat center center/cover;
}
h3{
  display: inline;
}
}
